/* project list */
.portfolio-block .thumbnail {
	text-align: center;
}

.portfolio-block .thumbnail .caption {
	font-size: 1em;
	height: 40px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	position: relative;
	margin-top: -40px;
}

.portfolio-block .thumbnail .caption h2 {
	padding: 5px;
	margin: 0;
	font-size: 1em;
}

.portfolio-block .thumbnail .caption a {
	color: #fff;
}

.portfolio-block .thumbnail .thumbnail-image {
	height: auto;
}

/* ribbon */
.portfolio-block .portfolio-ribbon {
	position: relative;
	color: #434443;
	display: inline-block;
	padding: 0;
	overflow: hidden;
	font-weight: 700;
	font-size: 13px;
	display: block;
}

.portfolio-block a.portfolio-ribbon:hover {
	color: #434443;
}

.portfolio-block .portfolio-ribbon p {
	display: inline;
}

.portfolio-block .portfolio-ribbon p span {
	position: absolute;
	display: inline-block;
	right: -50px;
	text-align: center;
	text-transform: none;
	top: 35px;
	background: #FFC107;
	width: 200px;
	padding: 5px 10px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	z-index:1;
}